::ng-deep .red-progress .mat-progress-bar-fill::after {
  background-color:red !important;
}

::ng-deep .orange-progress .mat-progress-bar-fill::after {
  background-color:orange !important;
}

::ng-deep .green-progress .mat-progress-bar-fill::after {
  background-color:green !important;
}

 .red-progress {
  --mdc-linear-progress-active-indicator-color: #e22e2e;
  --mdc-linear-progress-track-color: rgb(226, 46, 46);
}
