<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>

        <mat-icon color="warn">pie_chart</mat-icon>
        <h3>Ventes par catégorie</h3>
        <!--<mat-select [value]="30" disabled>
          <mat-option [value]="30">30 jours</mat-option>
        </mat-select>-->

      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-scrollbar orientation="vertical" pointerEventsMethod="scrollbar">
      <canvas baseChart [type]="'pie'"
              [data]="{ labels: labels, datasets:[{ data: values }] }"
              [options]="{ responsive:true }"></canvas>

      <mat-list>
        <mat-list-item *ngFor="let d of data">
          <div matListItemTitle>{{ d.categorie }}</div>
          <!--      <div matListItemLine>{{d.ca}} ({{d.percent}}%)</div>-->
          <div matListItemLine>{{ d.ca }}</div>
        </mat-list-item>
      </mat-list>
    </ng-scrollbar>
  </mat-expansion-panel>
</mat-accordion>

