<mat-accordion>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon color="warn">event</mat-icon>&nbsp;Saisonnalité hebdomadaire
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-scrollbar orientation="vertical" pointerEventsMethod="scrollbar">
      @if (chart) {
        <mat-card class="mt-2">
          <canvas baseChart [type]="'bar'"
            [data]="chart!.data"
          ></canvas>
        </mat-card>
      }
    </ng-scrollbar>
  </mat-expansion-panel>
</mat-accordion>


