<footer class="bg-primary footer">
    <div fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutAlign="center center" class="border-bottom-mute subscribe-block theme-container">

    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="copyright secondary-color theme-container">
        <p ngClass.xs="mt-1">Copyright © 2025 All Rights Reserved</p>
        <p>Designed & Developed by <a mat-button href="http://themeseason.com/" target="_blank">B&L</a></p>
    </div>
</footer>
