<div class="p-2">
  <mat-card>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-3">
      @if (caisseStatus === 'active') {
        <h2>Caisse ouverte par : {{ cashierName }}</h2>
      }
      @if (caisseStatus === 'already') {
        <h2>Caisse actuellement ouverte par : {{ cashierName }}</h2>
      }
      @if (caisseStatus == 'close' || caisseStatus == 'pending') {
        <h2>Caisse fermée</h2>
      }
      <div fxLayout="row" fxLayoutGap="8px">
        <!--        <button mat-raised-button color="primary" (click)="manageCaisse()">Fermer la caisse</button>-->
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
          @if (caisseStatus === 'active') {
            <button mat-flat-button color="warn" (click)="fermerCaisse()">Fermer la
              caisse
            </button>
          }
          @if (caisseStatus === 'open' || caisseStatus === 'close') {
            <button mat-flat-button color="primary"
              (click)="ouvrirCaisse()">Ouvrir la
              caisse
            </button>
          }
          @if (caisseStatus === 'pending') {
            <button mat-flat-button color="primary" (click)="manageCaisse()">Continuer
              billetage
            </button>
          }
          @if (caisseStatus === 'other') {
            <button mat-flat-button color="primary" (click)="handleOtherStatus()">Autre
              action
            </button>
          }
          @if (caisseStatus == 'active' ) {
            <button
              mat-flat-button color="accent" (click)="showBonCaisse()">Gérer les Bons de Caisse
            </button>
          }
          @if (caisseStatus == 'active' ) {
            <button
              mat-flat-button color="warn" (click)="showDepense()">Entrez une Dépense
            </button>
          }
          @if (caisseStatus == 'active' ) {
            <button
              mat-flat-button color="primary" (click)="onRefresh()">Rafraîchir les Données
            </button>
          }
        </div>

        <button
          mat-flat-button color="accent" (click)="showVente()">Afficher les Ventes
        </button>
      </div>
    </div>
  </mat-card>
</div>


<div fxLayout="row" fxLayoutGap="16px">

  <!-- Entête tableau principal -->
  <mat-card fxFlex="100" class="mb-16">
    <mat-card-header>
      <mat-card-title>Ventes en Cours</mat-card-title>
      <mat-card-subtitle>Liste des ventes non encaissées</mat-card-subtitle>
    </mat-card-header>
    <table mat-table [dataSource]="headerDataSource" class="full-width">

      <ng-container matColumnDef="netAPayer">
        <th mat-header-cell *matHeaderCellDef>Net à payer</th>
        <td mat-cell *matCellDef="let element">{{ element.netAPayer }}</td>
      </ng-container>
      <ng-container matColumnDef="reduction">
        <th mat-header-cell *matHeaderCellDef>Réduction</th>
        <td mat-cell *matCellDef="let element">{{ element.reduction }}</td>
      </ng-container>
      <ng-container matColumnDef="reference">
        <th mat-header-cell *matHeaderCellDef>Référence</th>
        <td mat-cell *matCellDef="let element">{{ element.reference }}</td>
      </ng-container>
      <ng-container matColumnDef="infoClients">
        <th mat-header-cell *matHeaderCellDef>Info Clients</th>
        <td mat-cell *matCellDef="let element">{{ element.infoClients }}</td>
      </ng-container>
      <ng-container matColumnDef="vendeur">
        <th mat-header-cell *matHeaderCellDef>Vendeur</th>
        <td mat-cell *matCellDef="let element">{{ element.vendeur }}</td>
      </ng-container>
      <ng-container matColumnDef="commentaire">
        <th mat-header-cell *matHeaderCellDef>Commentaire</th>
        <td mat-cell *matCellDef="let element">{{ element.commentaire }}</td>
      </ng-container>
      <ng-container matColumnDef="dateVente">
        <th mat-header-cell *matHeaderCellDef>Date vente</th>
        <td mat-cell *matCellDef="let element">{{ element.dateVente | date:'dd/MM/yyyy' }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="primary" (click)="chargerVente(element.id)">Charger</button>
          <button mat-button color="warn" (click)="supprimerVente(element.id,element)">Supprimer</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="headerColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: headerColumns;"></tr>
    </table>
    <mat-paginator [showFirstLastButtons]="true"
                   [length]="totalItemsEnCours" [pageSize]="countEnCours" [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onPageChangedVenteEnCours($event)">
    </mat-paginator>
  </mat-card>
</div>


<div fxLayout="row wrap">
  <!-- Left Column: Table -->
  <div fxFlex="100" fxFlex.gt-sm="60" class="p-2">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Produits de la Vente</mat-card-title>
        <mat-card-subtitle>Détails des produits ajoutés à la vente</mat-card-subtitle>
      </mat-card-header>
      <table mat-table [dataSource]="leftDataSource">
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef>Nom</th>
          <td mat-cell *matCellDef="let p">{{ p.nom }}</td>
        </ng-container>
        <ng-container matColumnDef="prixUnitaire">
          <th mat-header-cell *matHeaderCellDef>Prix Unitaire</th>
          <td mat-cell *matCellDef="let p">{{ p.prixUnitaire }} FCFA</td>
        </ng-container>
        <ng-container matColumnDef="quantite">
          <th mat-header-cell *matHeaderCellDef>Quantité</th>
          <td mat-cell *matCellDef="let p">{{ p.quantite }}</td>
        </ng-container>
        <ng-container matColumnDef="prixTotal">
          <th mat-header-cell *matHeaderCellDef>Prix Total</th>
          <td mat-cell *matCellDef="let p">{{ p.prixUnitaire * p.quantite }} FCFA</td>
        </ng-container>
        <ng-container matColumnDef="reduction">
          <th mat-header-cell *matHeaderCellDef>Réduction</th>
          <td mat-cell *matCellDef="let p">{{ p.reduction ?? 0 }} %</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="leftColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: leftColumns;"></tr>
      </table>
    </mat-card>
  </div>

  <!-- Right Column: Card -->
  <div fxFlex="100" fxFlex.gt-sm="40" class="p-2">
    <mat-card>
      <mat-toolbar color="primary" class="mat-toolbar">
        <div fxLayout="row wrap">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <h2>Montant Facturé : {{ netAPayer }} F CFA</h2>
          </div>
        </div>

      </mat-toolbar>

      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <p>Effectuez le paiement en choisissant un mode</p>
        </div>

        <mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
          <!-- Espèce Tab -->
          <mat-tab label="Espèce">
            <div class="tab-content">
              <div fxLayout="row wrap" class="p-2">
                <mat-form-field class="w-100 mt-2" appearance="outline">
                  <mat-label>Montant encaissé</mat-label>
                  <input matInput type="number" [(ngModel)]="montantEncaisse" (ngModelChange)="calculateRendu()">
                </mat-form-field>
                <mat-form-field class="w-100 mt-2" appearance="outline">
                  <mat-label>Rendu</mat-label>
                  <input matInput [value]="rendu" readonly>
                </mat-form-field>
              </div>
            </div>
          </mat-tab>

          <!-- Électronique Tab -->
          <mat-tab label="Électronique">
            <div class="tab-content">
              <div fxLayout="row wrap" class="p-2">
                <mat-form-field class="w-100 mt-2" appearance="outline">
                  <mat-label>Numéro de téléphone</mat-label>
                  <input matInput type="text" [(ngModel)]="numeroTelephone">
                </mat-form-field>
                <mat-form-field class="w-100 mt-2" appearance="outline">
                  <mat-label>Montant</mat-label>
                  <input matInput type="number" [(ngModel)]="montantElectronique" (ngModelChange)="calculateRendu()">
                </mat-form-field>
                <mat-form-field class="w-100 mt-2" appearance="outline">
                  <mat-label>Rendu</mat-label>
                  <input matInput [value]="rendu" readonly>
                </mat-form-field>
              </div>
            </div>
          </mat-tab>

          <!-- Ticket de caisse Tab -->
          <mat-tab label="Ticket de caisse">
            <div class="tab-content">
              <div fxLayout="row wrap" class="p-2">
                <mat-form-field class="w-100 mt-2" appearance="outline">
                  <mat-label>Numéro de ticket</mat-label>
                  <input matInput type="text" [(ngModel)]="numeroTicket" (input)="onTicketInputChange($event)">
                </mat-form-field>
                <mat-form-field class="w-100 mt-2" appearance="outline">
                  <mat-label>Montant</mat-label>
                  <input matInput type="number" [(ngModel)]="montantTicket" (ngModelChange)="calculateRendu()">
                </mat-form-field>
                <mat-form-field class="w-100 mt-2" appearance="outline">
                  <mat-label>Rendu</mat-label>
                  <input matInput [value]="rendu" readonly>
                </mat-form-field>
              </div>
            </div>
          </mat-tab>

          <!-- Mixte Tab -->
          <mat-tab label="Mixte">
            <div class="tab-content">
              <div class="p-2" fxLayout="row wrap">
                <h3>Espèce</h3>
                <mat-form-field class="w-100 mt-2" appearance="outline">
                  <mat-label>Montant en espèce</mat-label>
                  <input matInput type="number" [(ngModel)]="montantEspece" (ngModelChange)="calculateRendu()">
                </mat-form-field>
              </div>
              <div class="p-2" fxLayout="row wrap">
                <h3>Électronique</h3>
                <mat-form-field class="w-100 mt-2" appearance="outline">
                  <mat-label>Numéro de téléphone</mat-label>
                  <input matInput type="text" [(ngModel)]="numeroTelephoneMixte">
                </mat-form-field>
                <mat-form-field class="w-100 mt-2" appearance="outline">
                  <mat-label>Montant</mat-label>
                  <input matInput type="number" [(ngModel)]="montantElectroniqueMixte"
                    (ngModelChange)="calculateRendu()">
                  </mat-form-field>
                </div>
                <div class="p-2" fxLayout="row wrap">
                  <h3>Ticket</h3>
                  <mat-form-field class="w-100 mt-2" appearance="outline">
                    <mat-label>Numéro de ticket</mat-label>
                    <input matInput type="text" [(ngModel)]="numeroTicketMixte"
                      (input)="onTicketMixteInputChange($event)">
                    </mat-form-field>
                    <mat-form-field class="w-100 mt-2" appearance="outline">
                      <mat-label>Montant</mat-label>
                      <input matInput type="number" [(ngModel)]="montantTicketMixte" (ngModelChange)="calculateRendu()">
                    </mat-form-field>
                  </div>
                  <div class="p-2" fxLayout="row wrap">
                    <mat-form-field class="w-100 mt-2" appearance="outline">
                      <mat-label>Total encaissé</mat-label>
                      <input matInput [value]="totalEncaisse" readonly>
                    </mat-form-field>
                  </div>
                  <div class="p-2" fxLayout="row wrap">
                    <mat-form-field class="w-100 mt-2" appearance="outline">
                      <mat-label>Rendu</mat-label>
                      <input matInput [value]="rendu" readonly>
                    </mat-form-field>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>

            @if (caisseStatus ==='active') {
              <div fxLayout="row wrap"
                fxLayoutAlign="space-between center"
                class="w-100 p-3">
                @if (caisseStatus !== 'pending' && caisseStatus !== 'closed' && caisseStatus !== 'none') {
                  <button
                    mat-stroked-button
                    (click)="onAnnuler()">Annuler
                  </button>
                }
                @if (caisseStatus !== 'pending' && caisseStatus !== 'closed' && caisseStatus !== 'none') {
                  <button
                    mat-flat-button color="primary"
                    (click)="onValider()">Valider
                  </button>
                }
                @if (caisseStatus !== 'pending' && caisseStatus !== 'closed' && caisseStatus !== 'none') {
                  <button
                    mat-flat-button color="accent"
                    (click)="onImprimer()">Imprimer
                  </button>
                }
              </div>
            }
          </mat-card-content>
        </mat-card>
      </div>
    </div>


    <!-- Tableau des ventes fermées -->
    <mat-card class="mt-16">
      <mat-card-header>
        <mat-card-title>Ventes Fermées</mat-card-title>
        <mat-card-subtitle>Historique des ventes déjà encaissées</mat-card-subtitle>
      </mat-card-header>
      <table mat-table [dataSource]="bottomDataSource">

        <ng-container matColumnDef="montant">
          <th mat-header-cell *matHeaderCellDef>Prix total</th>
          <td mat-cell *matCellDef="let vente">{{ vente.netAPayer }}</td>
        </ng-container>
        <ng-container matColumnDef="etat">
          <th mat-header-cell *matHeaderCellDef>État</th>
          <td mat-cell *matCellDef="let vente">{{ vente.etat }}</td>
        </ng-container>
        <ng-container matColumnDef="ref">
          <th mat-header-cell *matHeaderCellDef>Réference</th>
          <td mat-cell *matCellDef="let vente">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ vente.reference }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                  <ul>
                    @for (produit of vente.produits; track produit) {
                      <li>
                        {{ produit.nom }} ({{ produit.quantite }})
                      </li>
                    }
                  </ul>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </td>
        </ng-container>
        <ng-container matColumnDef="vendeur">
          <th mat-header-cell *matHeaderCellDef>Vendeur</th>
          <td mat-cell *matCellDef="let vente">{{ vente.vendeur }}</td>
        </ng-container>
        <ng-container matColumnDef="client">
          <th mat-header-cell *matHeaderCellDef>Client</th>
          <td mat-cell *matCellDef="let vente">{{ vente.infoClients }}</td>
        </ng-container>
        <ng-container matColumnDef="dateVente">
          <th mat-header-cell *matHeaderCellDef>Date de vente</th>
          <td mat-cell *matCellDef="let vente">{{ vente.dateVente | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let vente">
            <button mat-raised-button color="primary" (click)="envoyerEnCaisse(vente.id)">Envoyer en caisse</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="bottomColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: bottomColumns;"></tr>
      </table>
      <mat-paginator
        [showFirstLastButtons]="true"
        [length]="totalItemsCredit" [pageSize]="countCredit" [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="onPageChangedCredit($event)">
      </mat-paginator>
    </mat-card>
