<mat-toolbar color="primary">
  <div mat-dialog-actions class="w-100 p-3" fxLayout="row" fxLayoutAlign="space-between center">
    <h2>Sortie du produit : {{ produitName }}</h2>

    <!--    <button mat-icon-button (click)="closeDialog()">-->
    <!--      <mat-icon>close</mat-icon>-->
  <!--    </button>-->
</div>
</mat-toolbar>
<form [formGroup]="sortieForm"  class="sortie-form">
  <mat-card>
    <mat-card-content>
      <div fxLayout="row wrap" class="mt-3">
        <!-- Champ Nom Produit (lecture seule) -->
        <div fxFlex="100" fxFlex.gt-sm="50" class="px-2">
          <mat-form-field appearance="outline" class="w-100 ">
            <mat-label>Type de sortie</mat-label>
            <mat-select formControlName="produitTypeSortieList">
              @for (item of typeSorties; track item) {
                <mat-option [value]="item.id">
                  {{ item.nom }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="px-2">
          <mat-form-field appearance="outline" class="w-100 ">
            <mat-label>Nom Produit</mat-label>
            <input type="text" readonly
              matInput
              formControlName="produitName">
            </mat-form-field>
          </div>

        </div>
      </mat-card-content>
      <mat-card-footer>
        <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center" class="w-100 p-3">
          <button mat-raised-button color="accent"
            (click)="executerSortie()"
            type="submit"
            [disabled]="modifiedProducts.length === 0 || !sortieForm.valid">
            Sortir le produit
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </form>
  <mat-dialog-content>
    <table mat-table [dataSource]="enRayonList" class="mat-elevation-z2 styled-table">

      <!-- Produit -->
      <ng-container matColumnDef="produit">
        <th mat-header-cell *matHeaderCellDef>Produit</th>
        <td mat-cell *matCellDef="let item">
          <div>{{ item.nom }}</div>
          <div>
            @if (isExpired(item.datePeremption)) {
              <span class="badge badge-red">
                Expire depuis {{ getDaysAfterExpiration(item.datePeremption) }} jour(s)
              </span>
            }
            @if (isExpiringSoon(item.datePeremption)) {
              <span
                class="badge badge-yellow">
                {{ getDaysToExpiration(item.datePeremption) }} jours(s) avant expiration
              </span>
            }
            @if (isValid(item.datePeremption)) {
              <span class="badge badge-green">Produit encore valide</span>
            }
          </div>
        </td>
      </ng-container>

      <!-- Quantité en stock -->
      <ng-container matColumnDef="quantite">
        <th mat-header-cell *matHeaderCellDef>Quantité en Stock</th>
        <td mat-cell *matCellDef="let item">{{ item.quantiteStock }}</td>
      </ng-container>

      <!-- Quantité à modifier -->
      <ng-container matColumnDef="quantiteAdjust">
        <th mat-header-cell *matHeaderCellDef>Quantité à Modifier</th>
        <td mat-cell *matCellDef="let item" style="width: 215px;">
          <div>
            <bdi fxLayout="row" fxLayoutAlign="start center">
              <button mat-mini-fab color="primary" (click)="decrement(item, 'quantiteRestante')"
                [disabled]="item.quantiteRestante <= 0">
                <mat-icon>remove</mat-icon>
              </button>
              <mat-form-field style="width: 100px; height: 60px;" appearance="outline" class="small-input">
                <input matInput
                  type="number"
                  [(ngModel)]="item.quantiteRestante"
                  [min]="0"
                  [max]="item.quantiteStock"
                  [value]="(item.quantiteOld>0? item.quantiteOld :0)"
                  placeholder="0">
                </mat-form-field>
                <button mat-mini-fab color="primary" (click)="increment(item, 'quantiteRestante')"
                  [disabled]="item.quantiteRestante >= item.quantiteStock">
                  <mat-icon>add</mat-icon>
                </button>
              </bdi>
            </div>

          </td>
        </ng-container>

        <!-- Prix de Vente -->
        <ng-container matColumnDef="prixVente">
          <th mat-header-cell *matHeaderCellDef>Prix de Vente</th>
          <td mat-cell *matCellDef="let item" style="width: 215px;">
            <div>
              <bdi fxLayout="row" fxLayoutAlign="start center">
                <button mat-mini-fab color="primary" (click)="decrement(item, 'prixVente')"
                  [disabled]="item.prixVente <= 0">
                  <mat-icon>remove</mat-icon>
                </button>
                <mat-form-field style="width: 100px; height: 60px;" appearance="outline" class="small-input">
                  <input matInput
                    type="number"
                    [(ngModel)]="item.prixVente"
                    placeholder="0">
                  </mat-form-field>
                  <button mat-mini-fab color="primary" (click)="increment(item, 'prixVente')">
                    <mat-icon>add</mat-icon>
                  </button>
                </bdi>
              </div>

            </td>
          </ng-container>

          <!-- Date de péremption -->
          <ng-container matColumnDef="datePeremption">
            <th mat-header-cell *matHeaderCellDef>Date Péremption</th>
            <td mat-cell *matCellDef="let item">
              {{ item.datePeremption | date:'dd/MM/yyyy' }}
            </td>
          </ng-container>

          <!-- Dates de livraison -->
          <ng-container matColumnDef="dateLivraison">
            <th mat-header-cell *matHeaderCellDef>Date Livraison</th>
            <!--          <td mat-cell *matCellDef="let item">-->
            <!--            <ng-container *ngFor="let d of item.datesLivraison; let last = last">-->
            <!--              {{ d | date:'dd/MM/yyyy' }}<span *ngIf="!last">, </span>-->
          <!--            </ng-container>-->
        <!--          </td>-->
        <td mat-cell *matCellDef="let item">
          {{ item.dateLivraison | date:'dd/MM/yyyy' }}
        </td>
      </ng-container>

      <!-- Quantité en stock -->
      <ng-container matColumnDef="reduction">
        <th mat-header-cell *matHeaderCellDef>reduction</th>
        <td mat-cell *matCellDef="let item">{{ item.reduction }}</td>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let item">
          <!--            <button mat-raised-button color="primary" (click)="saveChanges(item)">Sauvegarder</button>-->
          <!--            <button mat-raised-button color="warn" (click)="resetValues(item)">Réinitialiser</button>-->
          @if (item.quantiteRestante > 0) {
            <mat-icon color="primary">check_circle</mat-icon>
          }
        </td>
      </ng-container>

      <!-- Header & Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-dialog-content>


