@if (router.url != '/') {
    <div fxLayout="row wrap">
        <div fxFlex="100">
            <mat-card fxLayout="row" class="breadcrumb light-block"> 
                <a routerLink="/" class="breadcrumb-item" fxLayout="row" fxLayoutAlign="start center" (click)="closeSubMenus()">
                    <mat-icon>home</mat-icon>
                    <span class="breadcrumb-title">Homepage</span>
                </a>
                @for (breadcrumb of breadcrumbs; track $index; let i = $index;) {
                    <div class="breadcrumb-item" fxLayout="row" fxLayoutAlign="start center">                 
                        <a [hidden]="i == (breadcrumbs.length - 1)" [routerLink]="[breadcrumb.url]">{{breadcrumb.name}}</a>   
                        <span [hidden]="i != (breadcrumbs.length - 1)" class="breadcrumb-title active"><b>{{breadcrumb.name}}</b></span>
                    </div>
                } 
            </mat-card>
        </div> 
    </div>
}