.badge {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
}

.badge-red {
  background-color: red;
}

.badge-yellow {
  background-color: #e37e16;
  color: black;
}

.badge-green {
  background-color: #50b450;
}

.loader-overlay {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:flex;
  align-items:center;
  justify-content:center;
  background:rgba(0,0,0,0.3);
  z-index:9999;
}
