<div *ngIf="loading" class="center">
  <mat-progress-spinner diameter="40" mode="indeterminate"></mat-progress-spinner>
</div>
<ng-container *ngIf="!loading && data">
  <mat-accordion fxLayout="row">
    <div fxFlex="100" fxFlex.gt-sm="100" class="p-2">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="warn">warning</mat-icon>&nbsp;<h3>10 Produits tendance dans les paniers</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-scrollbar *ngIf="dataBestSeller.length>0" orientation="vertical" pointerEventsMethod="scrollbar">
          @for (b of dataBestSeller; track b.score; let i = $index) {
            <mat-card class="m-2">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="row">
                  <mat-chip-listbox class="list-view">
                    <mat-chip-option color="warn" highlighted selectable="false">{{ i }}</mat-chip-option>
                  </mat-chip-listbox>
                  <div>
                    <div matLine>{{ b.produit }}</div>
                    <div matLine class="text-muted">Score: {{ b.score | number:'1.2-2' }}</div>
                  </div>

                </div>

              </div>
            </mat-card>
          }
        </ng-scrollbar>
      </mat-expansion-panel>
    </div>
 <!--   <div fxFlex="100" fxFlex.gt-sm="50" class="p-2">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="warn">warning</mat-icon>&nbsp;<h3>Stock faible</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-scrollbar orientation="vertical" pointerEventsMethod="scrollbar">
          <mat-card>
            <table mat-table [dataSource]="lowStockData">
              <ng-container matColumnDef="produit">
                <th mat-header-cell *matHeaderCellDef>Produit</th>
                <td mat-cell *matCellDef="let row">{{ row.produit }}</td>
              </ng-container>
              <ng-container matColumnDef="stock">
                <th mat-header-cell *matHeaderCellDef>Stock</th>
                <td mat-cell *matCellDef="let row">{{ row.current_stock }}</td>
              </ng-container>
              <ng-container matColumnDef="threshold">
                <th mat-header-cell *matHeaderCellDef>Seuil</th>
                <td mat-cell *matCellDef="let row">{{ row.threshold }}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="lowColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: lowColumns;"></tr>
            </table>
          </mat-card>

        </ng-scrollbar>
      </mat-expansion-panel>
    </div>-->
    <!--<div fxFlex="100" fxFlex.gt-sm="50" class="p-2">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="warn">warning</mat-icon>&nbsp;<h3>Réassorts suggérés</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-scrollbar orientation="vertical" pointerEventsMethod="scrollbar">
          <mat-card>
            <table mat-table [dataSource]="reorderData">
              <ng-container matColumnDef="produit_id">
                <th mat-header-cell *matHeaderCellDef>Nom</th>
                <td mat-cell *matCellDef="let row">{{ row.nom }}</td>
              </ng-container>
              <ng-container matColumnDef="current_stock">
                <th mat-header-cell *matHeaderCellDef>Stock actuel</th>
                <td mat-cell *matCellDef="let row">{{ row.stock }}</td>
              </ng-container>
              <ng-container matColumnDef="safety_stock">
                <th mat-header-cell *matHeaderCellDef>Stock de securite</th>
                <td mat-cell *matCellDef="let row">{{ row.target | number:'1.0-0' }}</td>
              </ng-container>
              <ng-container matColumnDef="reorder_point">
                <th mat-header-cell *matHeaderCellDef>ROP</th>
                <td mat-cell *matCellDef="let row">{{ row.rop | number:'1.0-0' }}</td>
              </ng-container>
              <ng-container matColumnDef="suggested_order_qty">
                <th mat-header-cell *matHeaderCellDef>Qté à commander</th>
                <td mat-cell *matCellDef="let row">{{ row.qte }}</td>
              </ng-container>
              <ng-container matColumnDef="avg_daily">
                <th mat-header-cell *matHeaderCellDef>Qté à commander</th>
                <td mat-cell *matCellDef="let row">{{ row.avg_daily }}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="reorderColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: reorderColumns;"></tr>
            </table>
          </mat-card>

        </ng-scrollbar>
      </mat-expansion-panel>
    </div>-->
  </mat-accordion>


</ng-container>
