<mat-toolbar>
  <h1>{{ title }}</h1>
</mat-toolbar>
<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
  <div mat-dialog-content>
    <div fxLayout="row wrap">
      <div fxFlex="100">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="nom" required>
          @if (form.controls.nom.errors?.required) {
            <mat-error>Name is required</mat-error>
          }
        </mat-form-field>
      </div>
      <div fxFlex="100">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Code</mat-label>
          <input matInput formControlName="code" required>
          @if (form.controls.code.errors?.required) {
            <mat-error>Name is required</mat-error>
          }
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100 p-3">
      <button mat-raised-button color="warn" type="button" mat-dialog-close>Close</button>
      <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
  </div>
</form>
