<div class="p-2">
  <mat-card>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-3">
      <h2>Incident Management</h2>
      <button mat-raised-button color="primary" (click)="openIssueDialog(null)">Add Incident</button>
    </div>
    <mat-divider></mat-divider>
    <div class="mat-mdc-table admin-table">
      <div class="mat-mdc-header-row mat-toolbar mat-primary">
        <div class="mat-mdc-header-cell">Tenant</div>
        <div class="mat-mdc-header-cell">Title</div>
        <div class="mat-mdc-header-cell">Description</div>
        <div class="mat-mdc-header-cell">Declaration Date</div>
        <div class="mat-mdc-header-cell">Status</div>
        <div class="mat-mdc-header-cell"></div>
      </div>
      @for (issue of issues | paginate: { itemsPerPage: count, currentPage: page }; track $index) {
        <div class="mat-mdc-row" [ngClass]="{ 'mat-mdc-row-even': $index % 2 === 0 }">
          <div class="mat-mdc-cell">{{ getTenantName(issue.tenantId) }}</div>
          <div class="mat-mdc-cell">{{ issue.titre }}</div>
          <div class="mat-mdc-cell">{{ issue.description }}</div>
          <div class="mat-mdc-cell">{{ issue.dateDeclaration | date: 'dd/MM/yyyy' }}</div>
          <div class="mat-mdc-cell">{{ issue.status }}</div>
          <div class="mat-mdc-cell">
            <button mat-mini-fab color="primary" matTooltip="Edit" (click)="openIssueDialog(issue)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" matTooltip="Delete" class="mx-1" (click)="removeIssue(issue)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      }
    </div>
  </mat-card>
</div>
