<mat-toolbar color="primary" class="mat-toolbar mat-primary">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100 p-3">
    <h1>Payment</h1>
    <button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</mat-toolbar>

<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
  <div mat-dialog-content>
    <div fxLayout="row wrap" class="mt-3">

      <!-- Tenant Selection -->
      <div fxFlex="100" fxFlex.gt-sm="50" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Tenant</mat-label>
          <mat-select formControlName="tenantId" (selectionChange)="onTenantChange($event.value)" required>
            <mat-option [value]="">-</mat-option>
            <mat-option *ngFor="let tenant of tenants" [value]="tenant.id">
              {{ tenant.userName }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.tenantId.errors?.required">Tenant is required</mat-error>
        </mat-form-field>
      </div>

      <!-- Subscription Selection -->
      <div fxFlex="100" fxFlex.gt-sm="50" class="px-2">
        <mat-label>Subscriptions</mat-label>
        <div *ngFor="let subscription of subscriptions" class="mb-3">
          <mat-card>
            <mat-card-header>
              <mat-checkbox [formControl]="getFormControl('subscription_' + subscription.subscriptionId)">
                <strong>Subscription {{ subscription.subscriptionId }}</strong> - Prix total
                ({{ subscription.totalPrice | currency }}) / Remaining to pay
                ({{ subscription.remainingAmountToPay | currency }})
              </mat-checkbox>
            </mat-card-header>
            <mat-card-content>
              <div *ngIf="subscription.services?.length > 0">
                <h4>Services</h4>
                <mat-divider></mat-divider>
                <div *ngFor="let service of subscription.services" class="mb-2">
                  <div>
                    {{ service.serviceName }} ({{ service.quantity }} x {{ service.price | currency }})
                  </div>
                  <div *ngIf="service.options?.length > 0" class="ml-4">
                    <mat-chip-set aria-label="Fish selection">
                      <mat-chip *ngFor="let option of service.options">
                        {{ option.optionName }} ({{ option.quantity }} x {{ option.price | currency }})
                      </mat-chip>
                    </mat-chip-set>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <mat-error *ngIf="form.invalid">At least one subscription must be selected</mat-error>
      </div>

      <!-- Remaining Billing Cycles -->
      <div fxFlex="100" fxFlex.gt-sm="50" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Total Price</mat-label>
          <input matInput [value]="totalPrice | currency" readonly>
        </mat-form-field>
      </div>

      <!-- Payment Amount -->
      <div fxFlex="100" fxFlex.gt-sm="50" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Payment Amount</mat-label>
          <input matInput formControlName="paymentAmount" type="number" [disabled]="totalPrice === null"
                 [max]="totalPrice" required>
          <mat-error *ngIf="form.controls.paymentAmount.errors?.required">Payment amount is required</mat-error>
          <mat-error *ngIf="form.controls.paymentAmount.errors?.max">
            Payment amount cannot exceed {{ totalPrice | currency }}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-sm="50" class="px-2">
        <mat-form-field style="margin-top: 20px;" appearance="outline" class="w-100">
          <mat-label>Payment Mode</mat-label>
          <mat-select formControlName="paymentMode" required>
            <mat-option [value]="">-</mat-option>
            <mat-option value="Credit Card">Credit Card</mat-option>
            <mat-option value="Debit Card">Debit Card</mat-option>
            <mat-option value="Bank Transfer">Bank Transfer</mat-option>
            <mat-option value="Cash">Cash</mat-option>
            <mat-option value="Orange Money">Orange Money</mat-option>
            <mat-option value="MTN Mobile Money">MTN Mobile Money</mat-option>
          </mat-select>
          @if (form.get('paymentMode')?.hasError('required')) {
            <mat-error>Payment mode is required</mat-error>
          }
        </mat-form-field>
      </div>

    </div>
  </div>
  <div mat-dialog-actions  color="primary" class="mat-toolbar mat-primary">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100 p-3">
      <button mat-raised-button color="warn" type="button" mat-dialog-close>Close</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!isFormValid()">Save</button>
    </div>
  </div>
</form>
