<form [formGroup]="form" fxLayout="row" fxLayoutAlign="space-between center" class="px-2 py-1">
  <div fxLayout="row">
    <mat-button-toggle-group #controls="matButtonToggleGroup" appearance="legacy" hideSingleSelectionIndicator="true">
      <mat-button-toggle value="add" (click)="addProduitDetail()">
        <mat-icon>person_add</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="search">
        <mat-icon>search</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="user-search" [class.show]="controls.value == 'search'">
    <mat-form-field class="user-search-input">
      <input matInput placeholder="Recherche produit detail..."
        formControlName="searchForm" name="search">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-button-toggle-group #viewType="matButtonToggleGroup" appearance="legacy" value="grid"
        hideSingleSelectionIndicator="true">
        <mat-button-toggle value="grid">
          <mat-icon>view_module</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="list">
          <mat-icon>view_list</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </form>


  @if (viewType.value == 'grid') {
    <div fxLayout="row wrap">
      @for (product of products | paginate: {
        totalItems: totalItems,
        itemsPerPage: count,
        currentPage: page
        }; track $index) {
        <div fxFlex="100" [fxFlex.gt-sm]="viewCol" fxFlex.sm="50" class="p-2">
          <mat-card class="product-item text-center">
            <img [src]="product.image" alt="">
            <h4 class="category text-muted">{{ (categories | filterById : product.categorieNom)?.name }}</h4>
            <div class="title text-truncate" style="margin-top: 10px">
              <!--            {{ $index }}-->
            {{ product.nom }}</div>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
              <div fxLayout="column" fxLayoutAlign="center start">
                <!--              <p class="old-price text-muted">-->
                <!--                @if (product.prix) {-->
                <!--                  <span>FCFA {{ product.prix | number : '1.2-2' }}</span>-->
                <!--                }-->
              <!--              </p>-->
              <p class="new-price">FCFA {{ product.prix | number : '1.2-2' }}</p>
            </div>
            <!--            <app-rating [ratingsCount]="product.ratingsCount" [ratingsValue]="product.ratingsValue" [direction]="'column'"></app-rating>-->
          </div>
          <div class="divider mt-2"></div>
          <div class="product-name">
            <div>
              <ul>
                @for (produit of product.grossisteList; track produit) {
                  <li>
                    {{ produit.nom }} ({{ produit.quantite }})
                  </li>
                }
              </ul>
            </div>
          </div>
          <div class="icons">
            <a (click)="getDetailProduit(product)"  mat-mini-fab color="primary"
              matTooltip="Edit">
              <mat-icon>edit</mat-icon>
            </a>
            <button [disabled]="product.supprimer==1" mat-mini-fab color="warn" matTooltip="Remove" (click)="remove(product)">
              <mat-icon>delete</mat-icon>
            </button>
            <mat-chip-listbox>
              <mat-chip-option
                [color]="product.stock<=0 ? 'warn' : product.stock>0 && product.stock<= product.seuil? 'accent' : 'primary'"
                highlighted selectable="false">Stock : {{ product.stock }}
              </mat-chip-option>
            </mat-chip-listbox>
          </div>
        </mat-card>
      </div>
    }
  </div>
}

@if (viewType.value == 'list') {
  <mat-table [dataSource]="products" class="mat-elevation-z2">
    <!-- Image Column -->
    <!-- Name Column -->
    <ng-container matColumnDef="nom">
      <mat-header-cell *matHeaderCellDef> Nom</mat-header-cell>
      <mat-cell *matCellDef="let product"> {{ product.nom }}</mat-cell>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="reference">
      <mat-header-cell *matHeaderCellDef> Reference</mat-header-cell>
      <mat-cell *matCellDef="let product">
        {{ product.reference }}
        <!--          {{ (categories | filterById : product.categorieNom)?.name }}-->
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="quantiteStock">
      <mat-header-cell *matHeaderCellDef> Quantite en stock</mat-header-cell>
      <mat-cell *matCellDef="let product"> {{ product.stock }}</mat-cell>
    </ng-container>

    <!-- Old Price Column -->
    <ng-container matColumnDef="grossiste">
      <mat-header-cell *matHeaderCellDef>Produit grossiste</mat-header-cell>
      <mat-cell *matCellDef="let product">
        <div>
          <ul>
            @for (produit of product.grossisteList; track produit) {
              <li>
                {{ produit.nom }} ({{ produit.quantite }})
              </li>
            }
          </ul>
        </div>
      </mat-cell>
    </ng-container>

    <!-- New Price Column -->
    <ng-container matColumnDef="reduction">
      <mat-header-cell *matHeaderCellDef> New Price</mat-header-cell>
      <mat-cell *matCellDef="let product">
        FCFA {{ product.reductionMax }}
      </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
      <mat-cell *matCellDef="let product">
        <a (click)="getDetailProduit(product)"  mat-mini-fab color="primary"
          matTooltip="Edit">
          <mat-icon>edit</mat-icon>
        </a>
        <button mat-mini-fab color="warn" matTooltip="Remove" (click)="remove(product)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Header and Row Definitions -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
}

<!--@if (products.length) {-->
<div fxLayout="row wrap">
  <div fxFlex="100" class="p-2">
    <mat-card class="text-center">
      <mat-paginator [showFirstLastButtons]="true"
                     [length]="totalItems" [pageSize]="count" [pageSizeOptions]="[10,20,40,80, 100]"
        (page)="onPageChanged($event)">
      </mat-paginator>
    </mat-card>
  </div>
</div>
<!--}-->
