<mat-toolbar color="primary">
  <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-3">
    <h1 mat-dialog-title>Detail rayon</h1>
    <button mat-icon-button >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-dialog-content>
  <mat-divider></mat-divider>

  <mat-card class="mb-4">
    <div  class="p-4" fxLayout="row wrap"  fxLayoutGap="16px" >
      <table mat-table [dataSource]="filteredProducts" class="mat-elevation-z8">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? selectAll($event.checked) : null"></mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let product">
            <mat-checkbox *ngIf="!product.disabled" [(ngModel)]="product.selected"></mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID</th>
          <td mat-cell *matCellDef="let product" [class.disabled-row]="product.disabled"> {{ product.id }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name</th>
          <td mat-cell *matCellDef="let product" [class.disabled-row]="product.disabled"> {{ product.nom }}</td>
        </ng-container>

        <ng-container matColumnDef="dateLivraison">
          <th mat-header-cell *matHeaderCellDef>Date livraison</th>
          <td mat-cell *matCellDef="let product" [class.disabled-row]="product.disabled"> {{ product.dateLivraison  | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        </ng-container>

        <ng-container matColumnDef="datePeremption">
          <th mat-header-cell *matHeaderCellDef>Date peremption</th>
          <td mat-cell *matCellDef="let product" [class.disabled-row]="product.disabled"> {{ product.datePeremption  | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        </ng-container>

        <ng-container matColumnDef="stock">
          <th mat-header-cell *matHeaderCellDef>Stock</th>
          <td mat-cell *matCellDef="let product" [class.disabled-row]="product.disabled"> {{ product.stock }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['select', 'id', 'name', 'dateLivraison', 'datePeremption', 'stock']"></tr>
        <tr mat-row
            *matRowDef="let row; columns: ['select', 'id', 'name', 'dateLivraison', 'datePeremption', 'stock'];"></tr>
      </table>
    </div>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions>
  <mat-toolbar >
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div mat-dialog-actions>
        <button mat-button (click)="onCancel()">Cancel</button>
        <!-- Button for "add" type -->
        <button mat-raised-button
                color="primary"
                (click)="addSelectedProducts()">
          Sauvegarder
        </button>

      </div>
    </div>
  </mat-toolbar>
</mat-dialog-actions>

