<div class="p-2">
  <mat-card>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-3">
      <h2>Rent Management</h2>
      <button mat-raised-button color="primary" (click)="openRentDialog(null)">Add Rent</button>
    </div>
    <mat-divider></mat-divider>
    <div class="mat-mdc-table admin-table">
      <div class="mat-mdc-header-row mat-toolbar mat-primary">
        <div class="mat-mdc-header-cell">Tenant</div>
        <div class="mat-mdc-header-cell">Apartment</div>
        <div class="mat-mdc-header-cell">Month</div>
        <div class="mat-mdc-header-cell">Year</div>
        <div class="mat-mdc-header-cell">Amount</div>
        <div class="mat-mdc-header-cell">Status</div>
        <div class="mat-mdc-header-cell">Payment Date</div>
        <div class="mat-mdc-header-cell"></div>
      </div>
      @for (rent of rents; track $index) {
        <div class="mat-mdc-row">
          <div class="mat-mdc-cell">{{ getTenantName(rent.tenantId) }}</div>
          <div class="mat-mdc-cell">{{ gethousingUnitName(rent.housingUnitId) }}</div>
          <div class="mat-mdc-cell">{{ rent.mois }}</div>
          <div class="mat-mdc-cell">{{ rent.annee }}</div>
          <div class="mat-mdc-cell">{{ rent.montant | currency }}</div>
          <div class="mat-mdc-cell">{{ rent.status }}</div>
          <div class="mat-mdc-cell">{{ rent.datePaiement || 'N/A' }}</div>
          <div class="mat-mdc-cell">
            <button mat-mini-fab color="primary" matTooltip="Edit" (click)="openRentDialog(rent)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" matTooltip="Delete" class="mx-1" (click)="removeRent(rent)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      }
    </div>
  </mat-card>
  @if (rents.length) {
    <div fxLayout="row wrap">
      <div fxFlex="100">
        <mat-card class="text-center">
          <pagination-controls class="product-pagination" [autoHide]="true" [maxSize]="5"
                               (pageChange)="onPageChanged($event)"></pagination-controls>
        </mat-card>
      </div>
    </div>
  }
</div>
