<mat-toolbar id="menu-toolbar" class="top-navbar mat-elevation-z2" fxLayoutAlign="center center">
  <a mat-button routerLink="/" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Connexion</a>

  <a mat-button routerLink="/contact" routerLinkActive="horizontal-active-link"
     [routerLinkActiveOptions]="{exact:true}">{{ 'NAV.CONTACT' | translate }}</a>

  <ng-container *ngIf="hasToken">
    <a mat-button routerLink="/admin" routerLinkActive="horizontal-active-link"
       [routerLinkActiveOptions]="{exact:true}">{{ 'NAV.ADMIN' | translate }}</a>
  </ng-container>
</mat-toolbar>

