<mat-toolbar color="primary">
  <h2>Ajouter une commande</h2>
</mat-toolbar>
<div class="p-2">
  <mat-card>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100 p-3">
      <div fxFlex="100" fxFlex.gt-sm="50"  class="px-1" >
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Type de Commande</mat-label>
          <mat-select [(ngModel)]="typeCommande" (ngModelChange)="updateColumns()" name="typeCommande" required>
            <mat-option value="en_attente">En attente</mat-option>
            <mat-option value="livree">Livree</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="50"  class="px-1">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Fournisseur</mat-label>
          <mat-select [(ngModel)]="fournisseur" name="fournisseurId" required>
            <mat-option *ngFor="let fournisseur of fournisseurs" [value]="fournisseur">
              {{ fournisseur.nom }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-3">
      <div fxFlex="100" fxFlex.gt-sm="100" >
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Ajouter un médicament</mat-label>
          <input matInput [disabled]="typeCommande !== '' && fournisseur == null "
                 [matAutocomplete]="auto"
                 (input)="searchProducts($event)"
                 placeholder="Nom du produit">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of products" [value]="option.nom">
              {{ option.nom }} - {{ option.prixAchat  | currency:'XAF' }}
              <button mat-button color="primary" (click)="addProduct(option)">Ajouter</button>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </mat-card>
</div>
<mat-dialog-content>
  <table mat-table [dataSource]="selectedProducts.value" class="mat-elevation-z8 full-width">
    <!-- Product Name Column -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef>Produit</th>
      <td mat-cell *matCellDef="let product">{{ product.nom }}</td>
    </ng-container>

    <!-- Purchase Price Column -->
    <ng-container matColumnDef="prixAchat">
      <th mat-header-cell *matHeaderCellDef>Prix d'Achat</th>
      <td mat-cell *matCellDef="let product">
        <div>
          <bdi fxLayout="row" fxLayoutAlign="start center">
            <button mat-mini-fab color="primary" (click)="decrement(product, 'prixAchat')"
                    [disabled]="product.prixAchat <= 0">
              <mat-icon>remove</mat-icon>
            </button>
            <mat-form-field style="width: 100px; height: 60px;" appearance="outline" class="small-input">
              <input matInput
                     type="number"
                     [(ngModel)]="product.prixAchat"
                     [min]="0"
                     [value]="0"
                     placeholder="0">
            </mat-form-field>
            <button mat-mini-fab color="primary" (click)="increment(product, 'prixAchat')">
              <mat-icon>add</mat-icon>
            </button>
          </bdi>
        </div>

      </td>
    </ng-container>

    <!-- Sale Price Column -->
    <ng-container matColumnDef="prixVente">
      <th mat-header-cell *matHeaderCellDef>Prix de Vente</th>
      <td mat-cell *matCellDef="let product">
        <div>
          <bdi fxLayout="row" fxLayoutAlign="start center">
            <button mat-mini-fab color="primary" (click)="decrement(product, 'prixVente')"
                    [disabled]="product.prixVente <= 0">
              <mat-icon>remove</mat-icon>
            </button>
            <mat-form-field style="width: 100px; height: 60px;" appearance="outline" class="small-input">
              <input matInput
                     type="number"
                     [(ngModel)]="product.prixVente"
                     [min]="0"
                     [value]="0"
                     placeholder="0">
            </mat-form-field>
            <button mat-mini-fab color="primary" (click)="increment(product, 'prixVente')">
              <mat-icon>add</mat-icon>
            </button>
          </bdi>
        </div>

      </td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantite">
      <th mat-header-cell *matHeaderCellDef>Quantité</th>
      <td mat-cell *matCellDef="let product">
        <div>
          <bdi fxLayout="row" fxLayoutAlign="start center">
            <button mat-mini-fab color="primary" (click)="decrement(product, 'quantite')"
                    [disabled]="product.quantite <= 0">
              <mat-icon>remove</mat-icon>
            </button>
            <mat-form-field style="width: 100px; height: 60px;" appearance="outline" class="small-input">
              <input matInput
                     type="number"
                     [(ngModel)]="product.quantite"
                     [min]="0"
                     [value]="0"
                     placeholder="0">
            </mat-form-field>
            <button mat-mini-fab color="primary" (click)="increment(product, 'quantite')">
              <mat-icon>add</mat-icon>
            </button>
          </bdi>
        </div>

      </td>
    </ng-container>

    <!-- Add this condition for 'uniteGratuite' column -->
    <ng-container *ngIf="typeCommande === 'livree' || typeCommande === 'en_cours'" matColumnDef="uniteGratuite">
      <th mat-header-cell *matHeaderCellDef>Unité gratuite</th>
      <td mat-cell *matCellDef="let product">
        <div>
          <bdi fxLayout="row" fxLayoutAlign="start center">
            <button mat-mini-fab color="primary" (click)="decrement(product, 'uniteGratuite')"
                    [disabled]="product.uniteGratuite <= 0">
              <mat-icon>remove</mat-icon>
            </button>
            <mat-form-field style="width: 100px; height: 60px;" appearance="outline" class="small-input">
              <input matInput
                     type="number"
                     [(ngModel)]="product.uniteGratuite"
                     [min]="0"
                     [value]="0"
                     placeholder="0">
            </mat-form-field>
            <button mat-mini-fab color="primary" (click)="increment(product, 'uniteGratuite')">
              <mat-icon>add</mat-icon>
            </button>
          </bdi>
        </div>

      </td>
    </ng-container>

    <!-- Add this condition for 'quantiteRecu' column -->
    <ng-container *ngIf="typeCommande === 'en_cours'" matColumnDef="quantiteRecu">
      <th mat-header-cell *matHeaderCellDef>Quantité reçue</th>
      <td mat-cell *matCellDef="let product">
        <div>
          <bdi fxLayout="row" fxLayoutAlign="start center">
            <button mat-mini-fab color="primary" (click)="decrement(product, 'quantiteRecu')"
                    [disabled]="product.quantiteRecu <= 0">
              <mat-icon>remove</mat-icon>
            </button>
            <mat-form-field style="width: 100px; height: 60px;" appearance="outline" class="small-input">
              <input matInput
                     type="number"
                     [(ngModel)]="product.quantiteRecu"
                     [min]="0"
                     [value]="0"
                     placeholder="0">
            </mat-form-field>
            <button mat-mini-fab color="primary" (click)="increment(product, 'quantiteRecu')">
              <mat-icon>add</mat-icon>
            </button>
          </bdi>
        </div>

      </td>
    </ng-container>

    <!-- Add this condition for 'dateDePeremption' column -->
    <ng-container *ngIf="typeCommande === 'livree' || typeCommande === 'en_cours'" matColumnDef="dateDePeremption">
      <th mat-header-cell *matHeaderCellDef>Date de péremption</th>
      <td mat-cell *matCellDef="let product">
        <mat-form-field appearance="outline" class="small-input">
          <input matInput
                 type="date"
                 [(ngModel)]="product.datePeremption	"
                 [value]="product.datePeremption	 || defaultDateDePeremption">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let item">{{ item.prixAchat * item.quantite }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let product; let i = index">
        <button [disabled]="i.supprimer==1" mat-icon-button color="warn" (click)="removeProduct(i)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="generatePDF(product)">
          <mat-icon>print</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Update the table header and row definitions -->
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>

  </table>
</mat-dialog-content>
<mat-dialog-actions>
  <mat-toolbar >
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center" class="w-100 p-3">
      <button mat-raised-button color="primary" (click)="createCommande()"
              [disabled]="!canCreateCommande">
        Créer la Commande
      </button>
      <div>
        <h3><strong>Total :</strong> {{ total }} FCFA</h3>
      </div>
    </div>
  </mat-toolbar>
</mat-dialog-actions>
