<mat-card>
  <mat-card-title>Prévision des ventes</mat-card-title>
  <mat-card-content style="height:320px">
    <ng-container *ngIf="!loading && lineChartData; else loadingTpl">
      <canvas baseChart
              [data]="lineChartData"
              [options]="lineChartOptions"
              chartType="line">
      </canvas>
    </ng-container>
    <ng-template #loadingTpl>
      <div class="center">
        <mat-progress-spinner diameter="40" mode="indeterminate"></mat-progress-spinner>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
