<div class="p-2">
    <mat-card>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-3">
            <h2>Magasin List</h2>
            <button mat-raised-button color="primary" (click)="openMagasinDialog(null)">Ajouter Magasin</button>
        </div>
        <mat-divider></mat-divider>
        <div class="mat-mdc-table admin-table">
            <div class="mat-mdc-header-row">
                <div class="mat-mdc-header-cell">Nom</div>
                <div class="mat-mdc-header-cell">Code</div>
                <div class="mat-mdc-header-cell"></div>
            </div>
            @for (cat of magasins ; track cat.id) {
                <div class="mat-mdc-row">
                    <div class="mat-mdc-cell">{{cat.nom}}</div>
                    <div class="mat-mdc-cell">{{cat.code}}</div>
                    <div class="mat-mdc-cell">
                        <div class="p-2 actions">
                            <button mat-mini-fab color="primary" matTooltip="Edit" (click)="openMagasinDialog(cat)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button *ngIf="cat.supprimer==0" mat-mini-fab color="warn" matTooltip="Delete" class="mx-1" (click)="remove(cat)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </mat-card>

    @if (magasins.length) {
        <div fxLayout="row wrap">
            <div fxFlex="100">
                <mat-card class="p-0 text-center">
                  <mat-paginator
                    [length]="totalItems"
                    [pageSize]="count"
                    (page)="onPageChanged($event)"
                    [pageSizeOptions]="[5, 10, 25, 100]">
                  </mat-paginator>
                </mat-card>
            </div>
        </div>
    }

</div>
