<mat-vertical-stepper [linear]="isLinear" #stepper>
  <!-- Étape 1: Tenant -->
  <mat-step [stepControl]="tenantForm">
    <form [formGroup]="tenantForm">
      <ng-template matStepLabel>Tenant Information</ng-template>
      <mat-form-field style="margin-top: 20px;" appearance="outline" class="w-100">
        <mat-label>User</mat-label>
        <mat-select formControlName="userId" required>
          <mat-option [value]="">-</mat-option>
          @for (user of users; track $index) {
            <mat-option [value]="user.id">{{ user.firstName }} {{ user.lastName }}</mat-option>
          }
        </mat-select>
        @if (form.controls.userId.errors?.required) {
          <mat-error>User is required</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Logement</mat-label>
        <mat-select formControlName="housingUnitId" (selectionChange)="onLogementChange($event)" required>
          <mat-option [value]="">-</mat-option>
          @for (logement of logements; track $index) {
            <mat-option [value]="logement.id">{{ logement.number }} {{ logement.type }}</mat-option>
          }
        </mat-select>
        @if (form.controls.housingUnitId.errors?.required) {
          <mat-error>Logement is required</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Logement Price ($)</mat-label>
        <input matInput [value]="logementBasePrice" readonly>
      </mat-form-field>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext [disabled]="tenantForm.invalid">Next</button>
    </form>
  </mat-step>

  <!-- Étape 2: Subscription -->
  <mat-step [stepControl]="subscriptionForm">
    <form [formGroup]="subscriptionForm">
      <ng-template matStepLabel>Subscription Information</ng-template>

      <!-- Select Service -->
      <mat-form-field style="margin-top: 20px;" appearance="outline" class="w-100">
        <mat-label>Service</mat-label>
        <mat-select formControlName="serviceId" required>
          <mat-option [value]="">-</mat-option>
          @for (service of services; track $index) {
            <mat-option [value]="service.id">{{ service.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <!-- Billing Mode Display -->
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Billing Mode</mat-label>
        <input matInput formControlName="billingSubscription" readonly>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Number of Subscription</mat-label>
        <input matInput type="number" formControlName="numberOfSubscription" min="1">
      </mat-form-field>

      <!-- Start Date -->
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="startDatePicker" formControlName="startDate" required>
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>

      <!-- End Date -->
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="endDatePicker" formControlName="endDate" readonly>
<!--        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>-->
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext [disabled]="subscriptionForm.invalid">Next</button>
    </form>
  </mat-step>

  <!-- Étape 3: Billing Cycle -->
  <mat-step [stepControl]="billingCycleForm">
    <form [formGroup]="billingCycleForm">
      <ng-template matStepLabel>Billing Cycle Information</ng-template>

      <mat-form-field style="margin-top: 20px;" appearance="outline" class="w-100">
        <mat-label>Deposit amount</mat-label>
        <input matInput formControlName="depositAmount" required>

        @if (billingCycleForm.get('depositAmount')?.hasError('required')) {
          <mat-error>Deposit amount is required</mat-error>
        }
        @if (billingCycleForm.get('depositAmount')?.hasError('min')) {
          <mat-error>Deposit amount must be at least {{ logementBasePrice }}.</mat-error>
        }
        @if (billingCycleForm.get('depositAmount')?.hasError('max')) {
          <mat-error>Deposit amount cannot
            exceed {{ logementBasePrice * subscriptionForm.get('numberOfSubscription')?.value }}.
          </mat-error>
        }
        @if (billingCycleForm.get('depositAmount')?.value % logementBasePrice !== 0) {
          <mat-error>Security deposit must be a multiple of {{ logementBasePrice }}.</mat-error>
        }
      </mat-form-field>
      <mat-form-field style="margin-top: 20px;" appearance="outline" class="w-100">
        <mat-label>Payment Mode</mat-label>
        <mat-select formControlName="paymentMode" required>
          <mat-option [value]="">-</mat-option>
          <mat-option value="credit_card">Credit Card</mat-option>
          <mat-option value="debit_card">Debit Card</mat-option>
          <mat-option value="bank_transfer">Bank Transfer</mat-option>
          <mat-option value="cash">Cash</mat-option>
          <mat-option value="cash">Orange Money</mat-option>
          <mat-option value="cash">MTN Mobile Money</mat-option>
        </mat-select>
        @if (billingCycleForm.get('paymentMode')?.hasError('required')) {
          <mat-error>Payment mode is required</mat-error>
        }
      </mat-form-field>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext [disabled]="billingCycleForm.invalid">Next</button>
    </form>
  </mat-step>

  <!-- Étape 4: Payment -->
  <mat-step [stepControl]="paymentForm">
    <form [formGroup]="paymentForm">
      <ng-template matStepLabel>Summary and Payment</ng-template>

      <!-- Summary Section -->
      <div style="margin-top: 20px;" class="summary-section">
        <h3>Summary</h3>
        <p><strong>User:</strong> {{ tenantForm.get('userId')?.value }}</p>
        <p><strong>Logement:</strong> {{ tenantForm.get('housingUnitId')?.value }}</p>
        <p><strong>Logement Price:</strong> {{ logementBasePrice | currency }}</p>
        <p><strong>Service:</strong> {{ subscriptionForm.get('serviceId')?.value }}</p>
        <p><strong>Billing Mode:</strong> {{ subscriptionForm.get('billingSubscription')?.value }}</p>
        <p><strong>Number of Subscriptions:</strong> {{ subscriptionForm.get('numberOfSubscription')?.value }}</p>
        <p><strong>Start Date:</strong> {{ subscriptionForm.get('startDate')?.value }}</p>
        <p><strong>End Date:</strong> {{ subscriptionForm.get('endDate')?.value }}</p>
        <p><strong>Deposit Amount:</strong> {{ billingCycleForm.get('depositAmount')?.value | currency }}</p>
      </div>

      <!-- Remaining Payment Section -->
      <div class="payment-section">
        <h3>Payment Details</h3>
        <p><strong>Total Amount:</strong> {{ logementBasePrice | currency }}</p>
        <p><strong>Deposit Paid:</strong> {{ billingCycleForm.get('depositAmount')?.value | currency }}</p>
        <p><strong>Remaining Amount:</strong>
          {{ logementBasePrice - (billingCycleForm.get('depositAmount')?.value || 0) | currency }}
        </p>
      </div>


      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="onSubmit()">Finish</button>
    </form>
  </mat-step>

</mat-vertical-stepper>
