<mat-toolbar color="primary">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h2>Liste des Ventes</h2>
    <button mat-icon-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-dialog-content>
  <div class="p-2">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Ventes</mat-card-title>
        <mat-card-subtitle>Consultez les détails des ventes</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <table mat-table [dataSource]="ventes" class="full-width">
          <ng-container matColumnDef="montant">
            <th mat-header-cell *matHeaderCellDef>Montant</th>
            <td mat-cell *matCellDef="let vente">{{ vente.netAPayer }}</td>
          </ng-container>
          <ng-container matColumnDef="montantPerçu">
            <th mat-header-cell *matHeaderCellDef>Montant perçu</th>
            <td mat-cell *matCellDef="let vente">{{ vente.prixPercu }}</td>
          </ng-container>
          <ng-container matColumnDef="dateEncaissement">
            <th mat-header-cell *matHeaderCellDef>Date d'encaissement</th>
            <td mat-cell *matCellDef="let vente">{{ vente.dateEncaissement | date:'yyyy-MM-dd HH:mm:ss' }}</td>
          </ng-container>
          <ng-container matColumnDef="dateVente">
            <th mat-header-cell *matHeaderCellDef>Date de vente</th>
            <td mat-cell *matCellDef="let vente">{{ vente.dateVente | date:'yyyy-MM-dd HH:mm:ss' }}</td>
          </ng-container>
          <ng-container matColumnDef="etat">
            <th mat-header-cell *matHeaderCellDef>État</th>
            <td mat-cell *matCellDef="let vente">{{ vente.etat }}</td>
          </ng-container>
          <ng-container matColumnDef="ref">
            <th mat-header-cell *matHeaderCellDef>Réf</th>
            <td mat-cell *matCellDef="let vente">{{ vente.reference }}</td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let vente">
              <button mat-raised-button color="primary" (click)="imprimerTicket(vente.id)">Imprimer ticket</button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [showFirstLastButtons]="true"
                       [length]="totalItems" [pageSize]="count" [pageSizeOptions]="[5, 10, 25, 100]"
                       (page)="onPageChanged($event)">
        </mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="footer">
    <button mat-raised-button color="warn" (click)="closeDialog()">Fermer</button>
  </div>
</mat-dialog-actions>


