<mat-toolbar color="{{ data.type === 'open' ? 'primary' : data.type === 'close' ? 'warn' : 'warn' }}">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="user-info">
    <h2>{{ data.type === 'open' ? 'Ouvrir Caisse' : data.type === 'close' ? 'Fermer Caisse' : 'Caisse en attente de clôture' }}
    - session : {{ data.session }} - caissier : {{ data.caissierName }}</h2>
  </div>
</mat-toolbar>


<mat-dialog-content>
  <form [formGroup]="caisseForm">
    <!--    <h3>Fond de caisse</h3>-->
    <div class="fond-caisse" fxLayout="row" fxLayoutGap="16px">
      <!-- Pieces Column -->
      <mat-card fxFlex="50">
        <mat-toolbar  color="{{ data.type === 'open' ? 'primary' : data.type === 'close' ? 'warn' : 'warn' }}">
          <h4>Pièces</h4>
        </mat-toolbar>
        <mat-card-content>
          <div fxLayout="row wrap" class="pieces" formGroupName="pieces">
            <mat-form-field class="w-100 mt-2" appearance="outline">
              <mat-label>500</mat-label>
              <input matInput type="number" formControlName="piece500" (input)="calculateTotals()">
            </mat-form-field>
            <mat-form-field class="w-100 mt-2" appearance="outline">
              <mat-label>100</mat-label>
              <input matInput type="number" formControlName="piece100" (input)="calculateTotals()">
            </mat-form-field>
            <mat-form-field class="w-100 mt-2" appearance="outline">
              <mat-label>50</mat-label>
              <input matInput type="number" formControlName="piece50" (input)="calculateTotals()">
            </mat-form-field>
            <mat-form-field class="w-100 mt-2" appearance="outline">
              <mat-label>25</mat-label>
              <input matInput type="number" formControlName="piece25" (input)="calculateTotals()">
            </mat-form-field>
            <mat-form-field class="w-100 mt-2" appearance="outline">
              <mat-label>10</mat-label>
              <input matInput type="number" formControlName="piece10" (input)="calculateTotals()">
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-footer class="p-2">
          <h3>Sous total: {{ totalPieces }}</h3>
        </mat-card-footer>
      </mat-card>

      <mat-card fxFlex="50">
        <mat-toolbar   color="{{ data.type === 'open' ? 'primary' : data.type === 'close' ? 'warn' : 'warn' }}">
          <h4>Billets</h4>
        </mat-toolbar>
        <mat-card-content>
          <div fxLayout="row wrap" class="billets" formGroupName="billets">
            <mat-form-field class="w-100 mt-2" appearance="outline">
              <mat-label>10000</mat-label>
              <input matInput type="number" formControlName="billet10000" (input)="calculateTotals()">
            </mat-form-field>
            <mat-form-field class="w-100 mt-2" appearance="outline">
              <mat-label>5000</mat-label>
              <input matInput type="number" formControlName="billet5000" (input)="calculateTotals()">
            </mat-form-field>
            <mat-form-field class="w-100 mt-2" appearance="outline">
              <mat-label>2000</mat-label>
              <input matInput type="number" formControlName="billet2000" (input)="calculateTotals()">
            </mat-form-field>
            <mat-form-field class="w-100 mt-2" appearance="outline">
              <mat-label>1000</mat-label>
              <input matInput type="number" formControlName="billet1000" (input)="calculateTotals()">
            </mat-form-field>
            <mat-form-field class="w-100 mt-2" appearance="outline">
              <mat-label>500</mat-label>
              <input matInput type="number" formControlName="billet500" (input)="calculateTotals()">
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-footer class="p-2">
          <h3>Sous total: {{ totalBillets }}</h3>
        </mat-card-footer>
      </mat-card>

    </div>
    <!--    <mat-toolbar color="primary">-->
    <!--      <div fxLayout="row" fxLayoutAlign="center" class="user-info">-->
    <!--        <p></p>-->
  <!--      </div>-->
<!--    </mat-toolbar>-->

@if (data.type !== 'open') {
  <div fxLayout="row" fxLayoutGap="16px" class="autres" formGroupName="autres">
    <div class="p-4" fxFlex="50">
      <mat-form-field class="w-100 mt-2" appearance="outline" color="primary">
        <mat-label>OM / MOMO</mat-label>
        <input matInput type="number" formControlName="electronique" (input)="calculateTotals()">
      </mat-form-field>
    </div>
    <div class="p-4" fxFlex="50">
      <mat-form-field class="w-100 mt-2" appearance="outline">
        <mat-label>Bon de caisse</mat-label>
        <input matInput type="number" formControlName="ticket" (input)="calculateTotals()">
      </mat-form-field>
    </div>
  </div>
}
</form>
</mat-dialog-content>

<mat-card-footer>
  <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-3">
    <h2>Total: {{ totalFond }}</h2>
    <div fxLayout="row" fxLayoutGap="8px">
      <button mat-raised-button color="primary" (click)="onValidate()">Valider</button>
      <button mat-raised-button color="warn" (click)="onClose()">Close</button>
    </div>
  </div>
</mat-card-footer>
