<div class="p-2">
  <mat-card>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-3">
      <h2>Billing cycles Management</h2>
      <button mat-raised-button color="primary" (click)="openBillingCycleDialog(null)">Add Billing Cycle</button>
    </div>
    <mat-divider></mat-divider>
    <div class="mat-mdc-table admin-table">
      <div class="mat-mdc-header-row mat-toolbar mat-primary">
        <div class="mat-mdc-header-cell">Tenant Name</div>
        <div class="mat-mdc-header-cell">Service Name</div>
        <div class="mat-mdc-header-cell">Period</div>
        <div class="mat-mdc-header-cell">Amount due</div>
        <div class="mat-mdc-header-cell">Amount paid</div>
        <div class="mat-mdc-header-cell">BillingCycle date</div>
        <div class="mat-mdc-header-cell">Status</div>
        <div class="mat-mdc-header-cell"></div>
      </div>
      @for (data of billingCycles | paginate: {itemsPerPage: count, currentPage: page}; track $index) {
        <div class="mat-mdc-row">
          <div class="mat-mdc-cell">{{ data.userFirstName }} {{ data.userLastName }}</div>
          <div class="mat-mdc-cell">{{ data.code }}</div>
          <div class="mat-mdc-cell">{{ data.startDate }} - {{ data.endDate }}</div>
          <div class="mat-mdc-cell">{{ data.amountDue }}</div>
          <div class="mat-mdc-cell">{{ data.paymentLineAmountPaid }}</div>
          <div class="mat-mdc-cell">{{ data.billingMode }}</div>
          <div class="mat-mdc-cell" >
  <span [ngClass]="{
    'yellow-badge': data.billingCycleStatus.toLowerCase() === 'due',
    'green-badge': data.billingCycleStatus.toLowerCase() === 'paid',
    'gray-badge': data.billingCycleStatus.toLowerCase() !== 'due' && data.billingCycleStatus.toLowerCase() !== 'paid'
  }">
    {{ data.billingCycleStatus }}
  </span>
          </div>
          <div class="mat-mdc-cell">
            <button mat-mini-fab color="primary" matTooltip="Edit" (click)="openBillingCycleDialog(data)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" matTooltip="Delete" class="mx-1"
                    (click)="removeBillingCycle(data)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      }
    </div>
  </mat-card>
</div>
