.yellow-badge {
  background-color: #e37e16;
  color: black;
  padding: 4px 8px;
  border-radius: 4px;
}

.green-badge {
  background-color: #50b450;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
}

.gray-badge {
  background-color: gray;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
}
